# PROJECT DIRS
DIRS_INC:=inc
DIR_SRC :=src
DIR_OBJ :=obj
DIR_DEP :=dep
DIR_BIN :=bin

# PROJECT FILES
ELF:=$(DIR_BIN)/firmware.elf
HEX:=$(DIR_BIN)/firmware.hex
BIN:=$(DIR_BIN)/firmware.bin
ASM:=$(DIR_BIN)/firmware.asm

# LIB DIRS
# LIB_DIR :=$(HOME)/Documents/libs/ARM
# LIB_IDIR:=$(LIB_DIR)/inc
# LIB_LDIR:=$(LIB_DIR)/lib

# LIBS AND DEFS
LIBS:=
DEFS:=USE_HAL_DRIVER

# DRV DIRS
DIR_DRV     :=drivers
ARC_DRV     :=$(DIR_DRV)/lib$(DIR_DRV).a
DIRS_INC_DRV:=$(DIR_DRV) $(DIR_DRV)/CMSIS $(wildcard $(DIR_DRV)/STM32*_HAL_Driver/Inc)

# TARGET
# LDSCRIPTS:=mem.ld layout.ld
LDSCRIPTS:=$(shell find . -name '*.ld')

# TOOLCHAIN
TOOLCHAIN:=arm-none-eabi-
CC     :=$(TOOLCHAIN)gcc
CXX    :=$(TOOLCHAIN)g++
ASMC   :=$(TOOLCHAIN)gcc
LD     :=$(TOOLCHAIN)g++
OBJCOPY:=$(TOOLCHAIN)objcopy
OBJDUMP:=$(TOOLCHAIN)objdump
SIZE   :=$(TOOLCHAIN)size
STRIP  :=$(TOOLCHAIN)strip

# COMPILER FLAGS
WARNING     :=-Wall -Wextra -pedantic -Wno-write-strings
OPTIMIZATION:=-O3 -Os -fdata-sections -ffunction-sections -fno-exceptions
