# PROJECT DIRS
IDIRS:=inc
SDIR :=src
ODIR :=obj
DDIR :=dep
BDIR :=bin

# PROJECT FILES
ELF:=$(BDIR)/firmware.elf
HEX:=$(BDIR)/firmware.hex
BIN:=$(BDIR)/firmware.bin
ASM:=$(BDIR)/firmware.asm

# LIB DIRS
# LIB_DIR :=$(HOME)/Documents/libs/ARM
# LIB_IDIR:=$(LIB_DIR)/inc
# LIB_LDIR:=$(LIB_DIR)/lib

# LIBS AND DEFS
LIBS:=
DEFS:=

# DRV DIRS
DRV_DIR  :=drivers
DRV_ARC  :=$(DRV_DIR)/lib$(DRV_DIR).a
DRV_IDIRS:=$(DRV_DIR) $(DRV_DIR)/CMSIS $(DRV_DIR)/STM32F4xx_HAL_Driver/Inc

# TARGET
LDSCRIPTS:=mem.ld layout.ld
# TARGET   :=-mcpu=cortex-m4 -mthumb -mfloat-abi=softfp -fsingle-precision-constant
# DEVICE   :=STM32F40XX

# TOOLCHAIN
TOOLCHAIN:=arm-none-eabi-
CC     :=$(TOOLCHAIN)gcc
CXX    :=$(TOOLCHAIN)g++
ASMC   :=$(TOOLCHAIN)gcc
LD     :=$(TOOLCHAIN)g++
OBJCOPY:=$(TOOLCHAIN)objcopy
OBJDUMP:=$(TOOLCHAIN)objdump
SIZE   :=$(TOOLCHAIN)size
STRIP  :=$(TOOLCHAIN)strip

# COMPILER FLAGS
WARNING     :=-Wall -Wextra -pedantic -Wno-write-strings
OPTIMIZATION:=-O3 -Os -fdata-sections -ffunction-sections -fno-exceptions
