# PROJECT DIRS
IDIRS:=inc
SDIR :=src
ODIR :=obj
DDIR :=dep
BDIR :=bin

# PROJECT FILES
ELF  :=$(BDIR)/main.elf
HEX  :=$(BDIR)/main.hex
BIN  :=$(BDIR)/main.bin
ASM  :=$(BDIR)/main.asm

# LIB DIRS
LDIR  :=$(HOME)/Documents/libs/PC
LIDIR :=$(LDIR)/inc
ARCDIR:=$(LDIR)/arc

# LIBS AND DEFS
LIBS:=
DEFS:=

# TOOLCHAIN
NVCC   :=nvcc
LD     :=nvcc
OBJCOPY:=objcopy
OBJDUMP:=objdump
SIZE   :=size
STRIP  :=strip

# COMPILER FLAGS
WARNING     :=-Wall -Wextra -Wno-write-strings
OPTIMIZATION:=-O3 -Os -s
